
.App {
  width: 100vw;
  height: 200vh;
  height: 110%;
  min-height: 100vh;
  background-color: #11071F;
  display: flex;
  flex-direction: column;
  font-family: 'Preahvihear';
}

/* Assuming .navbar is the class applied to the Navbar component */
.navbar {
  background-color: #1A0B2E;
}

/* Style the links and visited links */
.link:link {
  color: white;
  text-decoration: none;
}

.link:visited {
  color: white;
  text-decoration: none;
}
/* Styles for the social icons */
.navbar .github,
.navbar .linkedin {
  font-size: 30px;
  color: white;
}

.intro > * {
  color: white;
}

.hello, .name {
  font-size: 36px;
  place-self: center;
}

.im-se {
  font-size: 50px;
  text-align: center;
}

.name {
  color: #7127BA;
}
.currently {
  text-align: center;
}

.about {
  padding: 80px 140px 0 140px;
}
.about-text {
  font-size: 22px;
  text-align: left;
}

.dataprofits {
  color: #7127BA;
}